# Uses direnv extension shown here:
# https://gist.github.com/elventear/bfee5bdaec3d3d47a08bbee5e7407e7b

# TODO: Disable until all developers are migrated into AWS
# export POETRY_HTTP_BASIC_BRIGHTAI_USERNAME=aws
# export POETRY_HTTP_BASIC_BRIGHTAI_PASSWORD="$(aws codeartifact get-authorization-token --domain default \
#     --domain-owner 312851193143 --duration-seconds 28800 --output text \
#     --query authorizationToken --profile=bai-mgmt-gbl-identity || echo '')"

layout_poetry

source_env_if_exists .envrc.secret
